version: '3'
volumes:
  db-data:
services:
    web:
        build: .
        environment:
          DB_URL: 'mongo:27017'
        ports:
            - "5000:5000"
        depends_on:
            - mongo
    mongo:
        image: mongo:latest
        ports:
            - "27017:27017"
        volumes:
          - db-data:/data/db
